@import "tailwindcss";

:root {
  --t-dark-1: #1d2125;
  --t-dark-2: #191919;
  --t-dark-3: #364049;
  --t-light-1: #ffffff;
  --table-1: #b97a57;

  --background: var(--t-light-1);
  --foreground: var(--t-dark-1);

  --dropShadow-hard: 2px 2px 0 rgb(255,255,255,0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--t-dark-1);
    --foreground: var(--t-light-1);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter) Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit), sans-serif;
}
